<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:hiveCptCntCssslider="http://typo3.org/ns/HIVE/HiveCptCntCssslider/ViewHelpers">
    <f:layout name="FlavorJs" />

    <f:section name="main">

        <f:flashMessages />

        <f:format.raw>{aHtml.0}</f:format.raw>
        <f:for each="{aSlidePageUids}" as="iSlidePageUid" iteration="i">
            <div class="csssjs__slide col">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{iSlidePageUid}', colPos: '1'}" />
            </div>
        </f:for>
        <f:format.raw>{aHtml.1}</f:format.raw>

    </f:section>

</div>